<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
</head>
<style>
    #loginMail {
        margin-bottom: 10px;
    }

    .inner .loginForm .etcArea {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }
    #loginarea.hidden{
        display: none;
    }
    #signarea.hidden{
        display: none;
    }
    #signarea .signupForm .signup {
        display: inline-block;
        width:300px;
        height: 53.24px;
        margin-top:10px;
        font-weight: 600;
        border: 2px solid #df7366;
        border-radius: 0.5em;
        line-height: 53.24px;
        margin-left: 10px;
    }


    #signarea .signupForm .signup.kakaosign{
        background-color: #f9e000;
        color: black;
        border: none;

    }
    /*.signupForm{*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/


</style>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
            <header style="width:300px;">
                <div id="loginarea">
                    <h1><a href="/" id="logo">Login</a></h1>
                    <hr/>
                    <div class="loginForm">
                        <form>
                            <input id="loginMail" type="text" placeholder="이메일을 입력하세요.">
                            <input id="loginPw" type="password" placeholder="비밀번호를 입력하세요.">
                            <input id="loginBtn" type="button" value="Sign in"
                                   style="width:300px;margin-top:10px;font-weight: 600;">
                            <div class="snsLonin" style="width:300px;margin-top: 10px;">
                                <input id="kakao" type="button" >
                                <input id="google" type="button" >
                                <input id="naver" type="button" >
                            </div>
                            <div class="etcArea"><a href="javascript:hiddenlogin();">회원가입</a><a href="">아이디/비밀번호찾기</a></div>
                        </form>
                    </div>
                </div>
                <div id="signarea" class="hidden">
                    <h1><a href="/" >Sign up</a></h1>
                    <hr/>
                    <div class="signupForm">
                        <div><a class="signup">일반 회원가입</a></div>
                        <div><a class="signup kakaosign" href="">카카오톡으로 회원가입</a></div>
                    </div>
                    <a href="/user/login" style="display:inline-block; margin-top: 20px;">로그인 하러 가기</a>
                </div>

            </header>

        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#">Dropdown</a>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                        <li>
                            <a href="#">And a submenu &hellip;</a>
                            <ul>
                                <li><a href="#">Lorem ipsum dolor</a></li>
                                <li><a href="#">Phasellus consequat</a></li>
                                <li><a href="#">Magna phasellus</a></li>
                                <li><a href="#">Etiam dolore nisl</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Veroeros feugiat</a></li>
                    </ul>
                </li>
                <li><a href="#">Left Sidebar</a></li>
                <li><a href="#">Right Sidebar</a></li>
                <li><a href="#">No Sidebar</a></li>
            </ul>
        </nav>

    </div>


    <!-- Main -->


    <!-- Footer -->
    <div id="footer">
        <div class="container">

            <div class="row">
                <div class="col-12">

                    <!-- Contact -->
                    <section class="contact">
                        <header>
                            <h3>Nisl turpis nascetur interdum?</h3>
                        </header>
                        <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor
                            aliquet.</p>
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a>
                            </li>
                            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a>
                            </li>
                        </ul>
                    </section>

                    <!-- Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script>
    function hiddenlogin(){
        const loginarea = document.getElementById("loginarea");
        const signarea = document.getElementById("signarea");

        loginarea.classList.toggle('hidden');
        signarea.classList.remove('hidden');
    }
</script>

</body>
</html>