<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.study_project.mapper.FileMapper">
	<insert id="insertFile">
		insert into file values(#{sysName},#{orgName},#{boardCategory},#{boardNum})
	</insert>
	
	<select id="getFiles">
		select * from file where board_category=#{boardCategory} and board_num=#{boardNum}
	</select>
	
	<delete id="deleteBySystemname">
		delete from file where sys_name=#{sysName}
	</delete>
</mapper>







